<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sähköinen aloitelaatikko</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" th:href="@{/css/home.css}" />
</head>
<body>
    <h1>Sähköinen aloitelaatikko</h1>
    <p>Listaa aloitteet ja niiden tekijät</p>
    <button>
        <a href="listing.html" th:href="@{/listing}">Siirry listaukseen</a>
    </button>
    <p>Lisää uusi aloite</p>
    <button>
        <a href="maintenance.html" th:href="@{/maintenance}">Siirry lisäykseen</a>
    </button>
    
</body>
</html>